@model IEnumerable<TrainingPortal.Models.Course>

@{
	ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<div class="row">
	<p class="col-md-4 col-md-offset-4">
		@Html.ActionLink("Create New", "Create")
	</p>
</div>

<div class="row">
	<div class="col-md-3 navigation">
		<ul class="nav nav-pills nav-stacked">
			<li class="@(Request.Params["categoryId"] == null ? "active" : "")">
				@Html.ActionLink("All", "Index", new { categoryId = "" })
			</li>
			@foreach (var item in ViewBag.Categories)
			{
				<li class="@(Request.Params["categoryId"] == item.Id ? "active" : "")">
					@Html.ActionLink((string)item.Name, "Index", new { categoryId = item.Id })
				</li>
			}
		</ul>

		@*<table class="table">
				<tr>
					<th>
						@Html.DisplayName("Navigation")
					</th>
				</tr>

				@foreach (var item in ViewBag.Categories)
				{
					<tr>
						<td>
							@Html.ActionLink((string)item.Name, "Index", new { categoryId = item.Id })
						</td>
					</tr>
				}
			</table>*@
	</div>

	<div class="col-md-8  col-md-offset-1">
		<table class="table">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Details", "Details", new { id = item.Id }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.Id })
					</td>
				</tr>
			}

		</table>
	</div>
</div>