@model TrainingPortal.Models.Lesson

@{
	ViewBag.Title = "Lessons";
}

<h2>@ViewBag.Title</h2>

@if (Model != null)
{
	<div class="row">
		<div class="col-md-3 navigation">
			<ul class="nav nav-pills nav-stacked">

				@foreach (var item in ViewBag.Lessons)
				{
					<li class="@(Model.Id == item.Id ? "active" : "")">
						@Html.ActionLink((string)item.Name, "TakeCourse", new { courseId = Request.Params["courseId"], lessonId = item.Id })
					</li>
				}

				<li class="active" style="margin-top: 30px">
					@Html.ActionLink("Write test", "WriteTest", "Test", new { courseId = Request.Params["courseId"] }, new { @class = "btn" })
				</li>
			</ul>
		</div>

		<div class="col-md-8">
			<div>
				<h4>@Model.Name</h4>
				<hr />

				<pre>@Model.Content</pre>
			</div>
		</div>
	</div>
}
else
{
	<div>
		Lessons not found.
	</div>
}
